*{
    margin: 0%;
    padding: 0%;
}

.navbar{
    height: 130px;
      background-color: rgb(255, 238, 246);
      
    
}


.logo{
    height: 30px;
    width: 10px;
}
.items{
    display: flex;
    justify-content: space-around;
    font-size: larger;
    padding: 45px 200px 0px 300px;
} 

.items a{
    position: relative; 
    text-decoration: none;
    color:#126661 ;
    transition: color 0.3s;
   
} 
.items a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color:  #126661 ;;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.items a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.items a:hover {
    color:#126661 ;
}


.nav-link{
    color:#126661 ;
}

.navbar-nav {
  
    display: flex;
    flex-direction: row;
    
   
       
    
}

/* products  */
